<div class="container-fluid">


    <div class="row">

        <div class="card col-sm-2 mr-4 ml-5">

            <div class="card-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="lunes" placeholder="Hora Lunes"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="martes" placeholder="Hora Martes">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="miercoles" placeholder="Hora Miercoles">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="jueves" placeholder="Hora Jueves">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="viernes" placeholder="Hora Viernes">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" name="sabado" placeholder="Hora Sabado">
                    </div>
                    <input type="submit" name="guardar" value="Agregar" class="btn btn-info btn btn-block ">

                </form>
            </div>
            <a class="navbar-brand" href=""><img class="mx-auto d-block logo m-4" src="img/atras.png"
                    alt="60" width="60"></a>
        </div>
        <div class="col-sm-8">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>LUNES</th>
                            <th>MARTES</th>
                            <th>MIERCOLES</th>
                            <th>JUEVES</th>
                            <th>VIERNES</th>
                            <th>SABADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

                    <tbody>


                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-light" href=""> <img class="mx-auto logo" src="img/editar.png"
                                        alt="30" width="30"> </a>
                                <a class="btn btn-light" href=""><img class="mx-auto logo" src="img/delete.png" alt="30"
                                        width="30"></a>
                            </td>
                        </tr>


                    </tbody>
                </table>


            </div>


        </div>


    </div>


</div>