<main class="index">
        <header class="masthead d-flex">
               <div class="container text-center my-auto">
                   <h1 class="mb-1">Control De Salones</h1>
                   <h3 class="mb-5">
                       <em>Monitorea los Salones en Tiempo Real</em>
                   </h3>
                   <a href="/login" class="btn btn-primary">
                      Comenzar
                   </a>
               </div>
        </header>
</main>